section.navbar{
    background: url("../img/navbar-background.jpg");
    background-size: 100%;
    height: 63px;
}

section.navbar > ul {
    display: inline-block;
    list-style-type: none;
}

section.navbar > ul > li {
    display: inline-block;
    padding: 0 5px;
}

section.navbar > ul > li > a {
    color: #FED9B0;
    font: 12px/14px "MuseoSans500";
    text-decoration: none;
}

section.navbar > ul > li > a:hover {
    color: #FF654F;
    transition: 0.2s;
}