@media (max-width: 851px) {
    .col6{
        display: none !important;
    }
    .col13{
        display: none !important;
    }
}

@media (max-width: 681px) {
    section.navbar > ul > li > a{
        font-size: 8px !important;
    }
}

@media (max-width: 874px) {
    .col33{
        width: 100% !important;
        display: block;
    }
}