@media (max-width: 868px) {
    .col6{
        display: none !important;
    }
    .col13{
        display: none !important;
    }
}

@media (max-width: 698px) {
    .navbar > ul > li > a{
        font-size: 10px !important;
    }
}

@media (max-width: 613px) {
    .navbar > ul > li > a{
        font-size: 6px !important;
    }
}

@media (max-width: 444px) {
    .navbar > ul > li > a{
        font-size: 4px !important;
    }
}

@media (max-width: 754px) {
    .slider > .overlay > .wrapper > p{
        font-size: 20px !important;
    }
}

@media (max-width: 508px) {
    .slider > .overlay > .wrapper > p{
        font-size: 12px !important;
    }
}

@media (max-width: 1100px) {
    .col33{
        width: 100% !important;
        display: block;
    }

    .col17{
        width: 40% !important;
        display: inline-block;
    }
}

@media (max-width: 811px) {
    .icons{
        zoom: 0.5;
        padding-top: 5% !important;
    }
}