@import url(../fonts/fonts.css);
@import url(_navbar.css);
@import url(_title.css);
@import url(variables.css);
@import url(media.css);






section.slider{
    background: url("../img/picture-main.jpg") top center no-repeat;
    background-size: cover;
}

section.slider > .slider-nav {
    padding: 172px 0;
}

section.slider > .slider-nav > .slide-left > a{
    background-color: rgba(243,116,73,0.7);
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

section.slider > .slider-nav > .slide-left > a:hover {
    color: #000;
}

section.slider > .slider-nav > .slide-right > a{
    background-color: rgba(243,116,73,0.7);
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;

}

section.slider > .slider-nav > .slide-right > a:hover {
    color: #000;
}

section.slider > .overlay {
    width: 100%;
    height: 50px;
    background-color: rgba(248,155,28,0.5);
}

section.slider > .overlay >  .wrapper > p {
    font: 30px/36px "MuseoSans300";
    color: #fff;
    text-shadow: 4px 4px 2px rgba(248, 155, 28, 1);
    padding-top: 5px;
}

section.main {
    background: #faf7f0;
    position: relative;
}

section.main > .wrapper > .main-text{
    font: 22px/26px "MuseoSans300";
    color: #666A67;
}

section.main > .wrapper > .text-1{
     padding: 50px 0 25px 0;
}

section.main > .wrapper > .text-2{
    padding: 25px 0 50px 0;
}

section.main > .wrapper > .houses{
    padding-bottom: 250px;
}

section.main > .wrapper > .houses > .col33 > a > img:hover{
    transform: scale(1.2);
    transition: 1s;
}

section.main > .wrapper > .houses > .col33 > a > img:not(:hover){
    transform: scale(1);
    transition: 1s;
}

section.main > .wrapper > .houses > .col33 > a{
    font: 20px/24px "MuseoSans300";
    color: #000;
    text-decoration: none;
}

section.main > .wrapper > .houses > .col33 > a:hover{
    color: #f05125;
}

section.menu{
    background: linear-gradient(to right, #eadbb9, #fffffe);
}

section.menu > .wrapper > .col17 > ul {
    list-style-type: none;
    font: 13px/25px "MuseoSans500";
}

section.menu > .wrapper > .col17 > ul > li > a{
    color: #524E45;
    text-decoration: none;
}

section.menu > .wrapper > .col17 > ul > li > a:hover{
    color: #f05125;
}

section.menu > .wrapper > .col33 > h6{
    font: 13px/25px "MuseoSans500";
    color: #524E45;
}

section.menu > .wrapper > .col33 > p{
    font: 13px/25px "MuseoSans300";
    color: #524E45;
}

section.menu > .wrapper > .col17 > h6{
    font: 13px/25px "MuseoSans500";
    color: #524E45;
}

footer{
    margin-top: 5px;
    background: linear-gradient(to right, #dcdcd7, #d3ac8b);
}

footer > .wrapper > .col50 > p{
    font: 13px/25px "MuseoSans300";
}

footer > .wrapper > .icons{
    padding-top: 5px;
}

.facebook, .twitter, .rp, .google, .message{
    height: 50px;
    width: 50px;
    background: url("../img/sprite.png");
    display: inline-block;
}

.facebook{
    background-position: 50px 0px;
}

.facebook:hover{
    background-position: 50px 50px;
}

.twitter{
    background-position: 0px 0px;
}

.twitter:hover{
    background-position: 0px 50px;
}

.rp{
    background-position: 200px 0px;
}

.rp:hover{
    background-position: 200px 50px;
}

.google{
    background-position: 100px 0px;
}

.google:hover{
    background-position: 100px 50px;
}

.message{
    background-position: 150px 0px;
}

.message:hover{
    background-position: 150px 50px;
}

.invalid, .home{
    display: inline-block;
}