.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.margin-0 {
    margin: 0;
}

.wrapper {
    padding: 0 10%;
}

.text-top{
    vertical-align: top;
}
.text-middle{
    vertical-align: middle;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}



.uppercase{
    text-transform: uppercase;
}


.col6{
    width: 6%;
    display: inline-block;
}

.col10{
    width: 10%;
    display: inline-block;
}

.col13{
    width: 13%;
    display: inline-block;
}

.col17{
    width: 17%;
    display: inline-block;
}

.col33{
    width: 33%;
    display: inline-block;
}

.col40{
    width: 40%;
    display: inline-block;
}

.col60{
    width: 60%;
    display: inline-block;
}

.padding-top-20{
    padding-top: 20px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-2{
    padding-top: 2%;
    padding-bottom: 2%;
}